body {
  background-color: black;
  margin: 0px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video .fillWidth {
  width: 100%;
}
