@font-face { font-family: Roboto; src: url('../font/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Thin; src: url('../font/Roboto-Thin.ttf'); }

body {
  background-color: black;
  margin: 0px;
}

.disclaimer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  line-height: 250px;
  font-family: Roboto;
  text-align: center;
  font-size: 60px;
  background-color: #EEE;
  margin: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 2s;
  animation-name: animatetop;
  animation-duration: 2s;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.video-container, .video-container2 {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container video,  .video-container2 video{
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container .fillWidth:hover {
  cursor: pointer;
}

.video-container video .fillWidth, .video-container video .fillWidth2, .video-container video .fillWidth3 {
  width: 100%;
}

#video-acceuil {
  -webkit-animation-name: animateopacity;
  -webkit-animation-duration: 2s;
  animation-name: animateopacity;
  animation-duration: 2s;
}

.game-infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #EEE;
  font-size: 20px;
  font-family: Roboto;
  margin-left: 80px;
  margin-top: 35px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

.game-infos .line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-infos .buttons {
  margin-top: 60px;
}

.game-infos .text-info {
  display: inline;
  margin-left: 25px;
  font-size: 17px;
}

.game-infos .text-infoo {
  display: inline;
  margin-left: 25px;
  font-size: 17px;
  vertical-align: top;
  line-height: 40px;
}

.game-infos .button-preview {
  display: inline;
  border: 1px solid #EEE;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 17px;
}

.button-skip {
	color: #EEE;
	position: absolute;
	top: 20px;
	right: 100px;
}

.game-infos .icon {
  width: 45px;
  height: 36px;
}

.game-infos .button-start, .game-infos .button-reload, .button-skip, .game .button-reload, .game .button-found{
  border: 2px solid #EEE;
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  font-family: Roboto;
  margin-top: 50px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  -ms-filter: blur(0px);
  color: white;
}

.game .button-found {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-family: Roboto-Thin;
  border: none;
}

.game .button-reload {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45vh;
  font-family: Roboto;
}

.game-infos .button-start:hover, .game-infos .button-reload:hover, .button-skip:hover, .game .button-reload:hover, .game .button-found:hover{
  cursor: pointer;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.icons {
	margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.icons:hover, .more-icon:hover {
  cursor: pointer;
}

.icons-list {
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  overflow-y: auto;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
}

.more-icon {
  color: white;
  font-size: 50px;
}

#icon-1 {
  margin-top: 100px;
}

#icon-9 {
  margin-bottom: 100px;
}

.credits {
  color: white;
  font-family: Roboto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.label {
  color: #CAD466;
}

.title {
  font-size: 200px;
  font-weight: bold;
}

.under {
  margin-top: 110px;
  display: inline-flex;
  text-align: initial;
}

.sub {
  margin-left: 140px;
}

.text {
  margin-top: 5px;
}

.author {
  margin-top: 30px;
}

@media screen and (max-height: 1150px) {
  #icon-1 {margin-top: 30px;}
  #icon-9 {margin-bottom: 0px;}
}

@media screen and (max-height: 965px) {
  .icons {margin-top: 20px;}
}

@media screen and (max-height: 875px) {
  .icons {margin-top: 10px;}
}

@media screen and (max-height: 785px) {
  .icons {margin-top: 5px;}
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes animateopacity {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes animateopacity {
    from {opacity: 0}
    to {opacity: 1}
}
